.env
.env.test.local
.temp
.vscode-test
.vscode/
*.csv
*.dat
*.gz
*.iml
*.lcov
*.log
*.out
*.pid
*.pid.lock
*.seed
*.swp
*.tgz
*.tsbuildinfo
coverage
dist
dist/**/*
logs
node_modules
node_modules/
tmp
